body{
    background-color: white;
}

.header{
    padding: 20px;
}

.links{
    display: inline;
    margin-left: 480px;
}

.links a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 3px;
}

.links a:hover{
    color: #e605d3;
    border-top: 2px solid #e605d3;
    border-bottom: 2px solid #e605d3;
}

.link-a-1{
    background-color: #bb09ac;
    border: #e605d3 solid 2px;
    color: white;
    font-weight: bold;
}

.link-a-2{
    background-color: transparent;
    border: #e605d3 solid 2px;
    font-weight: bold;
}


.span-1, .span-2{
    font-weight: bold;
    font-size: x-large;
}

.span-1{
    color:#85037a ;
}

.span-2{
    color: #e605d3;
}

.secao-1{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-2{
    width: 500px;
    margin-top:50px ;
    margin-bottom: 100px;
}

.secao-3{
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-4{
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
}

.secao-1 h1{
    font-weight: bold;
}

.secao-1 h2{
    font-weight: lighter;
    color: #e605d3;
}

img{
    width: 400px;
    margin: 0 auto;
}
.img img{
    width: 70%;
    border-radius: 100%;
}

.img-col{
    width: 20%;
    border-radius: 100%;
}
